section{
height: 100vh;
max-height: 1080px;
background-color: #ffffff;
}

.flexParentMain{
    display: flex;
    margin: 0% 0% 0% 15%;
    padding-top: 5%;
}

.who{
    color: #717896;
}

.flexText{
    padding: 0 0% 0% 5%;
    width:50%;
    p{
        width: 90%;
        color: #54668b;
        font-weight: medium;
    }
    button{
        margin-top: 10%;
    }
}


.skillsParent{
    display: flex;
    justify-content: center;
    padding: 0% 5% 0% 5%;

    li{
        border: 1px solid #e1e9fb;
        max-width: 370px;
        max-height: 198px;
        h3, i{
            text-align: center;
            color: #3d4862;
        }
        i{
            padding-left: 5%;
        }
        p{
            color: #54668b;
            padding: 0 5% 0 5%;
        }
        .stripe{
            background-color: #fbc25e;
            height: 0.8rem;
            width: 100%;
        }
    }
    li:nth-child(2) {
        margin: 0 2.5% 0 2.5%;
      }
}

.flexSkill{
    display:flex;
    justify-content: center;
    align-items: center;

    i{
       font-size: 3rem;
    }
}