html {
    font-size: 125%;
    /* 125% = 20px */
}


body{
    background: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

.outerWrapper{
    background-color: white;
    max-width: 1920px;

    margin: 0 auto;
    display: flex;
}

.innerWrapper{
    background-color: green;
    max-width: 1820px;
    width: 95%;
}

img {
    display: block;
    max-width: 100%;
}

ul{
   list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    height: 100vh;
    width: 100%;
    background-color: purple;
}

h2{
    font-size: 1.8rem;
    color: #3d4862;
    margin: 0.25rem 0 0.25rem 0; 
    font-weight: bold;
}

h4{
    font-size: 0.8rem;
    color: #fbc25e;
    font-weight: bold;
    letter-spacing: 2px;
 }

