header{
    height: 100vh;
    max-width: 95vw;
    max-height: 1080px;
    background-image: url("../assets/testBackground.jpg");
    position: relative;
    overflow: hidden;
    z-index: 0;
    .backgroundOverlayContainer{
        position: absolute;
        top: 0;
        height: 1080px;
        width: 1920px;
        z-index: 0;
    }
}

nav{
    position: relative;
    display: flex;
    justify-content: center;
    .topNav{
        margin-top: 4%;
        display: flex;
        justify-content: center;
        width: 90%;
        li{
            font-size: 0.8rem;
            margin: 0% 2.5% 0 2.5%;
            color: #c0c4d6;
            font-weight: 500;
            letter-spacing: 3px;
            
        }
        .home{
            color: #e4b86d;
        }
        a{
            transition: 0.25s;
        }
    }
}

.topNav a:hover{
    color: red;
    
}


.helloContainer{
    display: flex;
    img{
        height: 2px;
        margin: 1.5rem 1rem 0 0;
    }
}
 h1{
     font-size: 3rem;
     margin: 0.5rem 0 0.5rem 0; 
     span{
         color: #fbc25e;
     }
 }
 
.textAndButton{
    margin: 10% 0 0 15%;
    height: 40%;
    position: relative;
    p{
        font-size: 1rem;
    }
}

.textSlide{
    position: absolute;
    transition: 2s;
    left: -30%;
    opacity: 0;

}

.textSlide.after {
    left: 0;
    bottom: 25%;
    visibility: visible;
    opacity: 1;
}

.buttonContainer{
    position: absolute;
    bottom: 0;
    opacity: 0;
    margin-top: 5%;
    transition: 2s;
}

.buttonContainer.after{
    opacity: 1;
}

p{
    font-size: 0.75rem;
}

// .emailContainer{
//     position: absolute;
//     right: 0;
//     bottom: 0;
//     background-color: #fbc25e;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 5%;
//     min-width: 50px;
//     min-height: 50px;
//     transition: 0.5s;
//     &:after{
//         content:"";
//         display:block;
//         padding-bottom: 100%;
//     }
//     &:hover{
//         width: 7.5%;
//         background-color: red;
//         font-size: 1.5rem;
  
//     }
//     .fa-envelope{
//         color: #000000;
//     }

// }




