.projects{
    background-image: url("../assets/Overlay.png");
    background-color: #1f222d;
    height: auto;
    max-height: none;
    padding-bottom: 5%;
    h2{
        color: #ffffff;
    }
}
.projectIntroParent{
    padding: 5% 0 0% 15%;
}

.projectButtons{
    padding: 0;
    margin: 0 auto;
}

.projectViewScreen{
    position:relative;
    overflow: hidden;
}
.projectDisplay{
    position: relative;
    display: flex;
    li{
        width: 25vw;
        padding: 0 0.5% 0 0.5%;
        flex-shrink: 0;
        }
    }

.projectImageContainer{
    background-color: grey;
    height: 100%;
    position: relative;
    transition: 0.5s;
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #95a2cf;
        opacity: 0.7;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            opacity: 0;
        }
    }
}

.focus{
    opacity: 0;
}

.transitionOOB{
    transition: 0.25s;
}

.projectButtons{
    display: flex;
    justify-content: center;
    padding: 5% 0 0 0;
    button{
        margin: 0 10px;
    }
}

.scrollBar{
    background-color: #e1e9fb;
    width: 60%;
    height: 15px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 2% auto;
    .currentBar{
        background-color: #3e4455;
        height: inherit;
        width: 10%;
        position: absolute;
        cursor: grab;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.currentDisplayProject{
    display: flex;
    justify-content: center;
    padding: 2% 0 4% 0;
    background-color: #ffffff;
    margin: 0 5%;
    box-shadow: 5px 10px #717896;
    border: 2px solid black;
    height: 40vh;
}

.currentImageContainer{
    width:50%;  
    margin: 0;
}

.currentImageText{
    width: 40%;
    margin-left: 5%;
}

.currentImageText{
    .projectTitle{
        text-align: center;
        color: #3d4862;
        margin-bottom: 5%;
    }
    p{
        color:#54668b;
    }
    .highlightSkills{
        color: #717896;
        font-size: 0.9rem;
        margin-top: 1%;
    }
    i{
        color: #3d4862;
        padding-right: 5%;
    }

}
.projectDescription{
    font-size: 1rem;
}


