
aside{
    width: 5vw;
    max-width: 100px;
    background-color: #000000;
    height: 100vh;
    position: relative;

}

.sideBar{
    position: fixed;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #191d28;

}

.menuIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    border-radius: 100%;
    border: transparent 20%;
    cursor: pointer;
    transition: 0.25s;
    width: 70%; 
    &:hover{
        background-color: grey;
    }
    &:after{
        content:"";
        display:block;
        padding-bottom: 100%;
    }
    img{
        width: 100%;
    }
}
.socials{
    position: fixed;
    z-index: 4;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    i{
        margin-top: 100%;
        font-size: 1.1rem;
        transition: 0.25s;
        &:hover{
            color: red;
        }
    }
 
}

.sideMenu{
    max-width: 960px;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 2;
    left: 100%;
    background-color: #191d28;
    transition: transform 1s;
    opacity: 0.97;
    background-image: url("../assets/Overlay.png");
    a:hover{
        color:#fbc25e;
    }

} 
.closed{
    transform: translateX(-100%);

}

.menuOpen{
    background-color: grey;
}

.sideBarCover{
    position: fixed;
    z-index: 3;
    height: 100%;
    width: 5%;
    background-color: #191d28;
 
 
}
